In [9]:
a = int(input("Enter the first Numbere :"))
b = int(input("Enter the second Number :"))
c = int(input("Enter the third Number :"))

if a>b:
    if a>c:
        print("A is greater")
    else:
        print("C is greater")

else:
    if b>c:
        print("B is greater")
    else:
        print("C is greatest")

Enter the first Numbere : 12
Enter the second Number : 11
Enter the third Number : 10

A is greater

In [15]:
name = str(input("Enter youe Name :"))
age = int(input("Enter your Age : "))

print("your name is {} and your age is {}".format(name, age))

Enter youe Name : Dimple
Enter your Age :  34

your name is Dimple and your age is 34

In [17]:
range(1,6)

range(1, 6)

In [23]:
range(1,4)

range(1, 4)

In [35]:
for i in range(6):
    print(i, end=" ")

0 1 2 3 4 5

In [64]:
sum = 0
for i in range(1,6):
    sum += i
print(i,end = " ")
print(f"sum = {sum}")

5 sum = 15

In [72]:
sum = 0
for i in range(1,6):
    num = int(input("Enter the Number"))
    sum += num

print(f"sum = {sum}")

Enter the Number 4
Enter the Number 2
Enter the Number 3
Enter the Number 5
Enter the Number 6

sum = 20

In [76]:
for i in range(1,6):
    marks = int(input("Enter Marks"))
    if marks > 75:
        print("A grade")
    else: 
        print("B grade")

Enter Marks 78

A grade

Enter Marks 99

A grade

Enter Marks 65

B grade

Enter Marks 42

B grade

Enter Marks 54

B grade

In [84]:
sum = 0
for i in range(1,6):
    marks = int(input("Enter your Marks"))
    if marks > 70:
     sum += marks

print(sum)

Enter your Marks 75
Enter your Marks 78
Enter your Marks 74
Enter your Marks 71
Enter your Marks 72

370

In [86]:
even_sum = 0 
odd_sum = 0 

for i in range(1,6):
    num = int(input("Enter a number : "))
    if num%2 == 0:
        even_sum += num 
    else:
        odd_sum += num 

print(f"even sum = {even_sum}")
print(f"odd sum = {odd_sum}")

Enter a number :  1
Enter a number :  2
Enter a number :  3
Enter a number :  4
Enter a number :  5

even sum = 6
odd sum = 9

In [94]:
for i in range(10,0,-1):
    print(i , end=" ")

10 9 8 7 6 5 4 3 2 1

In [96]:
for i in range(1,10,2):
    print(i , end = " ")

1 3 5 7 9

In [100]:
for i in range(1,10,1):
    print(i , end = " ")

1 2 3 4 5 6 7 8 9

In [102]:
for row in range(1,6):
    print(row, end = " ")

1 2 3 4 5

In [108]:
for row in range(6):
        print("Hello", end =" ")

Hello Hello Hello Hello Hello Hello

In [110]:
for i in range(1,7):
    print(i)

1
2
3
4
5
6

In [116]:
for i in range(1,15,2):
    print(i , end = " ")

1 3 5 7 9 11 13

In [118]:
for i in range(1,6):
    print(f"{i}", "hello")

1 hello
2 hello
3 hello
4 hello
5 hello

In [124]:
for i in range(1,6):
    num = int(input("Enter your Number"))
    print(num)

Enter your Number 12

12

Enter your Number 14

14

Enter your Number 15

15

Enter your Number 16

16

Enter your Number 17

17

In [1]:
for i in range(1,4):
    name = input("Enter your name")

print(name)

Enter your name Dimple
Enter your name AArohi
Enter your name Dhyanam

Dhyanam

In [11]:
for i in range(1,6):
    num = int(input("Enter the number :"))
    if num %2 == 0:
          print("Even Number")
    else:
          print("Odd number")

Enter the number : 12

Even Number

Enter the number : 11

Odd number

Enter the number : 10

Even Number

Enter the number : 9

Odd number

Enter the number : 8

Even Number

In [15]:
for num in range(1,11):
    print(num , end = " ")

1 2 3 4 5 6 7 8 9 10

In [33]:
lang = ['c','c++','java']

for item in lang:
         print(item)

c
c++
java

In [29]:
lang=['C','C++','JAVA']

for item in lang:
   print(item)

C
C++
JAVA

In [35]:
for i in range(1,11):
    print(i , end = " ")

print()

1 2 3 4 5 6 7 8 9 10

In [39]:
for i in range(6):
    print(i, end = " ")

print()

0 1 2 3 4 5

In [41]:
for i in range(1,11,2):
    print(i , end = " ")

1 3 5 7 9

In [43]:
for i in range(10,1,-1):
    print(i , end = " ")

10 9 8 7 6 5 4 3 2

In [53]:
f = 1

num = int(input("Enter the number you want factorial value"))
for i in range(1, num+1):
    f*=i

print(f"the factorial value of {num} is {f}")

Enter the number you want factorial value 14

the factorial value of 14 is 87178291200

In [63]:
lag = ["python", "java"]
feature = ["advance" , "popular"]

for a in lag:
    for b in feature:
        print(a,b)

python advance
python popular
java advance
java popular

In [77]:
num = int(input("Enter the number :"))
flag = True
for i in range(2,num):
    if num%i == 0:
        flag = False
        break
    else:
        flag = True

if flag:
    print("Prime Number")

else:
    print("Not a prime Number")

Enter the number : 23

Prime Number

In [69]:
num = int(input("Enter a number : "))#20  5 
flag = True 

for i in range(2,num):
    if num%i == 0:
        flag = False
        break
    else:
        flag = True

if flag:
    print("prime number")
else:
    print("not a prime number")

Enter a number :  12

not a prime number

In [85]:
for row in range(1,6):
    for col in range(1,6):
        print(" * ", end = " ")
    print()

 *   *   *   *   *
 *   *   *   *   *
 *   *   *   *   *
 *   *   *   *   *
 *   *   *   *   *

In [93]:
for row in range(1,6):
    for col in range(1,6):
        if row == 3 and col == 3:
            print(" $ ", end = " ")
        else:
            print(" * ", end = " ")
    print()

 *   *   *   *   *
 *   *   *   *   *
 *   *   $   *   *
 *   *   *   *   *
 *   *   *   *   *

In [95]:
for row in range(1,6):
    for col in range(1,row+1):
        print(" * ", end = " ")
    print()

 *
 *   *
 *   *   *
 *   *   *   *
 *   *   *   *   *

In [101]:
for row in range(1,6):
    for col in range(1,row+1):
        print(col,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [105]:
for row in range(1,6):
    for col in range(1,row+1):
        print(row, end = " ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [144]:
for row in range(1,6):
    for col in range(1,row+1):
        print(row, end = " ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [3]:
for col in range(1,6):
    for row in range(1,col+1):
        print(col, end = " ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [1]:
def fahrenheit_to_celsius(fahrenheit):

    celsius = (fahrenheit - 32)* (5/9)
    return celsius

far_temp = 50
cel_temp = fahrenheit_to_celsius(far_temp)
print(f"{far_temp} degree fahrenheit is equals to {cel_temp} degrees celsius")

50 degree fahrenheit is equals to 10.0 degrees celsius

In [3]:
def celsius_to_fahrenheit(celsius):
    
    fahrenheit = (celsius * 9/5) + 32 
    return fahrenheit 

cel_temp = 10
far_temp = celsius_to_fahrenheit(cel_temp) 
print(f"{cel_temp} degrees Celsius is equal to {far_temp} degrees Farenheit")

10 degrees Celsius is equal to 50.0 degrees Farenheit

In [1]:
# Write a Python program to append text to a file and display the text. 

def fileRead(fname):
    from itertools import islice
    with open(fname, "w") as myfile:
        myfile.write("Python Exercises \n")
        myfile.write("Java Exercise")

    file = open(fname)
    print(file.read())

fileRead("abc.txt")

Python Exercises
Java Exercise