In [1]:
import keyword

In [3]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [5]:
class HelloWorld:
    pass #keyword

In [9]:
class HelloWorld:
    def displayData(self):
        print("This is function")

In [11]:
ob = HelloWorld()

In [13]:
ob.displayData()

This is function

In [15]:
class DisplayData:
    def __init__(self):
        pass

In [17]:
ls = [2,4,6,8]

In [19]:
print(dir(ls))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [21]:
class DisplayData:
    def __init__(self):
        pass

In [23]:
class DisplayData:
    def __init__(self, name, age, salary): #constructor
        self.name = name #object
        self.age = age
        self.salary = salary
    def showData(self): #method
        print(f"welcome {self.name} your age is {self.age} years with salary {self.salary}")

data = DisplayData("Dimple", 32, 30000)

In [25]:
print(data.name)

Dimple

In [27]:
print(data.age)

32

In [29]:
print(data.salary)

30000

In [37]:
class DisplayData:
    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary
      #  print(f"welcome {self.name} your age is {self.age} years with salary {self.salary}")
    def showData(self):
        print(f"welcome {self.name} your age is {self.age} years with salary {self.salary}")

data = DisplayData("Dimple", 32, 30000)
data.showData()

welcome Dimple your age is 32 years with salary 30000

In [41]:
#Example 1. add more parameter to the function.

class Person:
    def __init__(self, firstname, lastname, age, country, city):
        self.firstname = firstname
        self.lastname = lastname
        self.age = age
        self.country = country
        self.city = city

p = Person("Dimple" ,"Patel", 32, "India", "vadodara")
print(p.firstname)
print(p.lastname)
print(p.age)
print(p.country)
print(p.city)

Dimple
Patel
32
India
vadodara

In [1]:
#single Inheritance
class Animal:
    pass

class Dog(Animal):
    pass

class Cat(Animal):
    pass

class Tiger(Animal):
    pass

In [3]:
#multilevel Inheritance
class Animal:
    pass

class Dog(Animal):
    pass

class PetDog(Dog):
    pass

In [9]:
# Multiple Inheritance
class D2Shape: #parent
    pass

class D3Shape: #parent
    pass

class Shape(D2Shape, D3Shape): #child
    pass

#constructor

In [8]:
# Example 1.: Constructor without parameters(Non- parameterized)

class Test:
    #constuctor - non parameterized
    def __init__(self):
        print("This is non parameterized constructor")

    def show(self, name):
        print("Hello", name)

#creating object of class

t = Test()  # Output : this is not parameterized constructor

#calling the instance method

t.show("Arthur")

This is non parameterized constructor
Hello Arthur

#Encapsulation

In [2]:
# Encapsulation means wraping of data

In [4]:
# Abstraction :hiding of unneccesory data from user.

In [14]:
# Multiple Inheritance
# Parent class first
class Person:
    def person_info(self, name, age):
        print("This is a parent class")
        print(f'Name : {name} and age is {age} years')

#parent class Second
class Company:
    def company_info(self, company_name, location):
        print("This is second class")
        print(f'Name : {company_name} and skill is : {location}')

class Employee(Person, Company):
    def Employee_info(self, salary, skill):
        print("Thius is child class")
        print(f'salary is : {salary} and skill is : {skill}')

emp = Employee()
emp.person_info("Dimple", 32)
emp.company_info("google", "USA")
emp.Employee_info(35000, "machine Learning")

This is a parent class
Name : Dimple and age is 32 years
This is second class
Name : google and skill is : USA
Thius is child class
salary is : 35000 and skill is : machine Learning

In [3]:
# Hybrid Inheritance.
class student:
    def stud_info(self, name, age):
        print("This is Student info")
        print(f'Student name is {name} and Age is {age}')
class school(student):
    def school_info(self, school_name, location):
        print("This is school detail of student")
        print(f'School name is {school_name} and location is: {location}')
class collage(student):
    def collage_info(self, coll_name, course):
        print("This is Collage Information")
        print(f'Collage name is {coll_name} and course is {course}')
class Company(school, collage):
    def designation(self, designation, salary_ex):
        print(f'Designation is :{designation} and salary expactation is : {salary_ex}')

stud = Company()
stud.stud_info("Dimple", 32)
stud.school_info("Nalanda School", "Mehsana")
stud.collage_info("Ganpat university", "Msc(computer Science)")
stud.designation("Data Analytics" ,30000)

This is Student info
Student name is Dimple and Age is 32
This is school detail of student
School name is Nalanda School and location is: Mehsana
This is Collage Information
Collage name is Ganpat university and course is Msc(computer Science)
Designation is :Data Analytics and salary expactation is : 30000