# Function

In [6]:
#function : set of instruction which performs perticular task

#Annonymous function : Lamda

#print() : write :show

#input():

In [8]:
import keyword
#keyword is module

In [10]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [12]:
#def

def displayData():
    print("Simple Function")

In [14]:
displayData()

Simple Function

In [16]:
print("Simple Function")

Simple Function

In [18]:
def displayData(name, age, salary):
    print(f"welcome {name} your age is {age} years with salary {salary}")

displayData("Dimple" , 35 , 25000)

welcome Dimple your age is 35 years with salary 25000

In [20]:
names = ["Ram", "Raj", "Lokesh", "john", "Don"]
def showData(n):
    pass

showData(names)

In [22]:
def showData(n):
    for i in n:
        print(i, end= " ")

showData(names)

Ram Raj Lokesh john Don

In [24]:
def showData(n):
    for i in n:
        if(str(i)):
            print(i, end= " ")

showData(names)

Ram Raj Lokesh john Don

In [32]:
def showData(n):
    data = [ ]
    for i in n:
        if (str(i)):
            res = i.lower()
            data.append(i)
    return data

showData(names)

['Ram', 'Raj', 'Lokesh', 'john', 'Don']

In [38]:
def showData(n):
    for i in n:
        if(str(i)):
            res = i.upper()
            print(res, end = " ")

showData(names)

RAM RAJ LOKESH JOHN DON

In [15]:
names = ["ram", "raj", "lokesh", "john", "don"]

def showData(n):
    for i in n:
        res = i.capitalize()
        print(res, end = " ")

showData(names)

Ram Raj Lokesh John Don

In [19]:
def additionNumbers(x, y, z):
    return x+y+z

additionNumbers(3,6,9)

18

In [23]:
def additionNumbers(*args):
    return sum(args)

additionNumbers(3,5,6,7,8,9,2)

40

# List Comprehension

In [26]:
ls1 = [2,3,4,5,6,7,8]
ls2 = ["A","B","C","D","E"]

result = [(x,y) for x in ls1 for y in ls2]

In [28]:
print(result)

[(2, 'A'), (2, 'B'), (2, 'C'), (2, 'D'), (2, 'E'), (3, 'A'), (3, 'B'), (3, 'C'), (3, 'D'), (3, 'E'), (4, 'A'), (4, 'B'), (4, 'C'), (4, 'D'), (4, 'E'), (5, 'A'), (5, 'B'), (5, 'C'), (5, 'D'), (5, 'E'), (6, 'A'), (6, 'B'), (6, 'C'), (6, 'D'), (6, 'E'), (7, 'A'), (7, 'B'), (7, 'C'), (7, 'D'), (7, 'E'), (8, 'A'), (8, 'B'), (8, 'C'), (8, 'D'), (8, 'E')]

In [30]:
ls1 = [2,4,6,8,10]
ls2 = [1,3,5,7,9]

res = [(x,y) for x in ls1 for y in ls2]
print(res)

[(2, 1), (2, 3), (2, 5), (2, 7), (2, 9), (4, 1), (4, 3), (4, 5), (4, 7), (4, 9), (6, 1), (6, 3), (6, 5), (6, 7), (6, 9), (8, 1), (8, 3), (8, 5), (8, 7), (8, 9), (10, 1), (10, 3), (10, 5), (10, 7), (10, 9)]

In [36]:
res = [x ** 2 for x in range(5)]
print(res)

[0, 1, 4, 9, 16]

# Annonymous Function

In [39]:
res = lambda x,y: x+y

print(res(4,5))

9

In [41]:
import random

In [43]:
import math

In [45]:
import os

In [47]:
print(dir(os))

['DirEntry', 'EX_OK', 'F_OK', 'GenericAlias', 'Mapping', 'MutableMapping', 'O_APPEND', 'O_BINARY', 'O_CREAT', 'O_EXCL', 'O_NOINHERIT', 'O_RANDOM', 'O_RDONLY', 'O_RDWR', 'O_SEQUENTIAL', 'O_SHORT_LIVED', 'O_TEMPORARY', 'O_TEXT', 'O_TRUNC', 'O_WRONLY', 'P_DETACH', 'P_NOWAIT', 'P_NOWAITO', 'P_OVERLAY', 'P_WAIT', 'PathLike', 'R_OK', 'SEEK_CUR', 'SEEK_END', 'SEEK_SET', 'TMP_MAX', 'W_OK', 'X_OK', '_AddedDllDirectory', '_Environ', '__all__', '__builtins__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_check_methods', '_execvpe', '_exists', '_exit', '_fspath', '_get_exports_list', '_walk_symlinks_as_files', '_wrap_close', 'abc', 'abort', 'access', 'add_dll_directory', 'altsep', 'chdir', 'chmod', 'close', 'closerange', 'cpu_count', 'curdir', 'defpath', 'device_encoding', 'devnull', 'dup', 'dup2', 'environ', 'error', 'execl', 'execle', 'execlp', 'execlpe', 'execv', 'execve', 'execvp', 'execvpe', 'extsep', 'fdopen', 'fsdecode', 'fsencode', 'fspath', 'fstat', 'fsync', 'ftruncate', 'get_blocking', 'get_exec_path', 'get_handle_inheritable', 'get_inheritable', 'get_terminal_size', 'getcwd', 'getcwdb', 'getenv', 'getlogin', 'getpid', 'getppid', 'isatty', 'kill', 'linesep', 'link', 'listdir', 'listdrives', 'listmounts', 'listvolumes', 'lseek', 'lstat', 'makedirs', 'mkdir', 'name', 'open', 'pardir', 'path', 'pathsep', 'pipe', 'popen', 'putenv', 'read', 'readlink', 'remove', 'removedirs', 'rename', 'renames', 'replace', 'rmdir', 'scandir', 'sep', 'set_blocking', 'set_handle_inheritable', 'set_inheritable', 'spawnl', 'spawnle', 'spawnv', 'spawnve', 'st', 'startfile', 'stat', 'stat_result', 'statvfs_result', 'strerror', 'supports_bytes_environ', 'supports_dir_fd', 'supports_effective_ids', 'supports_fd', 'supports_follow_symlinks', 'symlink', 'sys', 'system', 'terminal_size', 'times', 'times_result', 'truncate', 'umask', 'uname_result', 'unlink', 'unsetenv', 'urandom', 'utime', 'waitpid', 'waitstatus_to_exitcode', 'walk', 'write']

In [49]:
ls = ["accommodation" , "adventure" ,"afterwords" , "beginning" , "blogger", "careless"]

In [53]:
random.choice(ls)

'blogger'

In [55]:
random.choice(ls)

'adventure'

In [57]:
random.choices(ls)

['accommodation']

In [59]:
random.choices(ls, k = 3)

['accommodation', 'accommodation', 'afterwords']

In [63]:
random.sample(ls, k = 2)

['careless', 'afterwords']

# map()

In [68]:
#map() is a function and returns boolean 
#filter() is returns a value
#reduce()

In [70]:
#map function: It returns boolean
#interator
#Iteration
#Iterable

In [82]:
data = [(7,9),(5,6),(7,8),(2,9)]

result = sorted(data, key = lambda x : x[1])
print(result)

[(5, 6), (7, 8), (7, 9), (2, 9)]

In [90]:
tup = (2,3,4,5,2,3,4,2,4,5,6,7,8,8)
print(type(tup))

<class 'tuple'>

In [92]:
tup.count(2)

3

In [94]:
tup.index(5)

3

In [100]:
data = [(2,3),(4,5),(6,7),(8,9)]
res = sorted(data, key = lambda x: x[0])

In [102]:
print(res)

[(2, 3), (4, 5), (6, 7), (8, 9)]

In [110]:
num = [2,3,4,5,6,7,8,9]

res = list(filter(lambda x: x%2 == 0 ,num))
print(res)

[2, 4, 6, 8]

In [112]:
res = list(filter(lambda x : x%2 != 0 , num))

In [114]:
print(res)

[3, 5, 7, 9]

In [116]:
res = list(map(lambda x : x%2 == 0, num))
print(res)

[True, False, True, False, True, False, True, False]

In [118]:
res = list(map(lambda x: x%2 != 0 ,num))
print(res)

[False, True, False, True, False, True, False, True]

In [120]:
d1 = [{'name' :"dimple", 'age' : 35 , 'gender': "female"},{'name' :"Dhyanam", 'age' : 5 , 'gender': "male"},{'name' :"Aarohi", 'age' : 10 , 'gender': "female"}]
res = sorted(d1, key = lambda x: x["age"], reverse = False) #ascending order
print(res)

[{'name': 'Dhyanam', 'age': 5, 'gender': 'male'}, {'name': 'Aarohi', 'age': 10, 'gender': 'female'}, {'name': 'dimple', 'age': 35, 'gender': 'female'}]

In [122]:
res = sorted(d1, key = lambda x: x["age"], reverse = True) #descending order
print(res)

[{'name': 'dimple', 'age': 35, 'gender': 'female'}, {'name': 'Aarohi', 'age': 10, 'gender': 'female'}, {'name': 'Dhyanam', 'age': 5, 'gender': 'male'}]

In [124]:
d2 = {"name" :"ketan", "age" : 36, "salary" : 250000}

In [126]:
d2.keys()

dict_keys(['name', 'age', 'salary'])

In [128]:
d2.values()

dict_values(['ketan', 36, 250000])

In [130]:
d2.items()

dict_items([('name', 'ketan'), ('age', 36), ('salary', 250000)])

In [136]:
d2 = {"name" :"ketan", "age" : 36, "salary" : 250000}
d2.update({"name" : "Dhyanam"})

In [138]:
print(d2)

{'name': 'Dhyanam', 'age': 36, 'salary': 250000}

In [140]:
operations = {
    "add" : lambda x,y :x+y,
    "subs" : lambda x,y :x-y,
    "mul" : lambda x,y :x*y,
    "div" : lambda x,y :x/y,
    "mdiv" : lambda x,y : x%y,
    "fdiv" : lambda x,y : x//y,
    "pr" : lambda x,y : x**y
}

In [142]:
n1 = int(input("Enter first Number :"))
n2 = int(input("Enter second Number :"))

print(operations["add"](n1,n2))
print(operations["subs"](n1,n2))
print(operations["mul"](n1,n2))
print(operations["div"](n1,n2))
print(operations["mdiv"](n1,n2))
print(operations["fdiv"](n1,n2))
print(operations["pr"](n1,n2))

Enter first Number : 5
Enter second Number : 2

7
3
10
2.5
1
2
25

In [10]:
ls = [2,3,4,5,6,7,8,9,4,5,6,7,8,9]
ls2 = list(map(lambda x: x %2 ==0, ls))
print(ls2)

[True, False, True, False, True, False, True, False, True, False, True, False, True, False]

In [12]:
ls3 = list(filter(lambda x : x%2 ==0 , ls))
print(ls3)

[2, 4, 6, 8, 4, 6, 8]

In [18]:
ls = [(4,6),(7,5),(3,2),(2,1)]
ls2 = sorted(ls, key = lambda x: x[0])
print(ls2)

[(2, 1), (3, 2), (4, 6), (7, 5)]

In [20]:
employees = [
    {"name" : "Dimple", "age" : 35 ,"salary" :35000},
    {"name" : "Ketan", "age" : 37 ,"salary" :45000},
    {"name" : "Aarohi", "age" : 15 ,"salary" :55000},
    {"name" : "Dhyanam", "age" : 25 ,"salary" :65000}    
]

In [30]:
res = sorted(employees, key= lambda x: (x["age"], x["salary"]))
print(res)

[{'name': 'Aarohi', 'age': 15, 'salary': 55000}, {'name': 'Dhyanam', 'age': 25, 'salary': 65000}, {'name': 'Dimple', 'age': 35, 'salary': 35000}, {'name': 'Ketan', 'age': 37, 'salary': 45000}]

In [32]:
res = sorted(employees, key= lambda x: (x["age"], -x["salary"]))
print(res)

[{'name': 'Aarohi', 'age': 15, 'salary': 55000}, {'name': 'Dhyanam', 'age': 25, 'salary': 65000}, {'name': 'Dimple', 'age': 35, 'salary': 35000}, {'name': 'Ketan', 'age': 37, 'salary': 45000}]

In [34]:
ls1 = [2,4,6,8]
ls2 = [1,5,7,9]
res = list(map(lambda x,y : x+y, ls1,ls2))
print(res)

[3, 9, 13, 17]

In [36]:
res = list(map(lambda x,y : x*y, ls1,ls2))
print(res)

[2, 20, 42, 72]

In [42]:
res = list(map(lambda x,y: x/y, ls1, ls2))
print(res)

[2.0, 0.8, 0.8571428571428571, 0.8888888888888888]

In [44]:
res = list(map(lambda x,y : x%y, ls1, ls2))
print(res)

[0, 4, 6, 8]

In [50]:
ls = [3,2,1,4,5,6,7,8,9,1,2,3,5,4,7,8]
import operator

def additionNumbers(*args):
    return sum(args)

result = map(additionNumbers, ls)
print(result)

<map object at 0x000001F5B9B0A0B0>

In [54]:
res = sum(list(map(lambda x : x+0 ,ls)))
print(res)

75

In [56]:
num = [3,4,5,6,7,8,9,9]

In [62]:
from functools import reduce
import functools
print(dir(functools))

['GenericAlias', 'RLock', 'WRAPPER_ASSIGNMENTS', 'WRAPPER_UPDATES', '_CacheInfo', '_HashedSeq', '_NOT_FOUND', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_c3_merge', '_c3_mro', '_compose_mro', '_convert', '_find_impl', '_ge_from_gt', '_ge_from_le', '_ge_from_lt', '_gt_from_ge', '_gt_from_le', '_gt_from_lt', '_initial_missing', '_le_from_ge', '_le_from_gt', '_le_from_lt', '_lru_cache_wrapper', '_lt_from_ge', '_lt_from_gt', '_lt_from_le', '_make_key', '_unwrap_partial', 'cache', 'cached_property', 'cmp_to_key', 'get_cache_token', 'lru_cache', 'namedtuple', 'partial', 'partialmethod', 'recursive_repr', 'reduce', 'singledispatch', 'singledispatchmethod', 'total_ordering', 'update_wrapper', 'wraps']

In [66]:
num = [10,15,20,25,30,35,40]
num1 = reduce(lambda x,y: x+y, num)
print(num1)

175

In [70]:
import operator
from functools import reduce
numbers = [10,15,20,25,30,35,40,45]
result = reduce(operator.add, numbers)
print(result)

220

In [95]:
len([2,3,4,5,6,7])

TypeError: 'list' object is not callable

In [99]:
len("hello")

TypeError: 'list' object is not callable

In [101]:
data = [[11,12,13],[14,15,16],[17,18,19]]
total_sum = reduce(operator.add, map(lambda x :sum(x), data))
print(total_sum)

135

In [103]:
data = [(1,2),(3,4),(5,6)]
a = 0
b = 0
result = reduce(lambda a,b: (a[0]+b[0], a[1]+b[1]),data)

print(result)

(9, 12)

In [105]:
data = ((1,2),(3,4),(5,6),(7,8))
total = reduce(operator.add, map(lambda x : sum(x),data))
print(total)

36

In [107]:
data = {(2,3),(4,5),(6,7)}
total_s = reduce(operator.add, map(lambda x: sum(x),data))
print(total_s)

27

In [109]:
data = [2,3,4,5,6,7,8]
res = [(lambda x: x + 5 )(x) for x in data]

print(res)

[7, 8, 9, 10, 11, 12, 13]

In [111]:
ls1 = [1,2,3,4,5]
ls2 = [2,4,6,8,10]
ls3 = [1,3,5,7,9]

res = list(map(lambda x,y,z: x+y+z, ls1,ls2,ls3))
print(res)

[4, 9, 14, 19, 24]

In [113]:
from functools import reduce
import operator

trans = [
    {'type' : 'deposit', 'amount' :5000},
    {'type' : 'withdraw', 'amount' :6000},
    {'type' : 'deposit', 'amount' :4000},
    {'type' : 'withdraw', 'amount' :7000},
    {'type' : 'deposit', 'amount' :3000}
]

total_deposit = reduce(operator.add, map(lambda t : t['amount'], filter(lambda t: t['type'] == 'deposit', trans)))
print(total_deposit)

12000

In [115]:
total_depo = sum(map(operator.itemgetter("amount"), trans))

print(total_depo)

25000

In [117]:
total_de = list(map(operator.itemgetter("deposit"),trans))

print(total_de)

KeyError: 'deposit'

In [119]:
from functools import reduce
import operator

trans = [
    {'type' : 'deposit', 'amount' :5000},
    {'type' : 'withdraw', 'amount' :6000},
    {'type' : 'deposit', 'amount' :4000},
    {'type' : 'withdraw', 'amount' :7000},
    {'type' : 'deposit', 'amount' :3000}
]

total_deposit = trans.sort(keys = operator.itemgetter(1))
print(total_deposit)

TypeError: 'keys' is an invalid keyword argument for sort()

In [121]:
cart = [
    {'product' : "laptop", 'price' : 25000, "quantity" :2},
    {'product' : "tablet", 'price' : 12000, "quantity" :3},
    {'product' : "mobile", 'price' : 22000, "quantity" :4},
    {'product' : "fridge", 'price' : 35000, "quantity" :1},
    {'product' : "TV", 'price' : 55000, "quantity" :3},
    {'product' : "music system", 'price' : 20000, "quantity" :1},
]

total = reduce(operator.mul, map(lambda t : t['price'], filter(lambda t: t['quantity'], cart)))
print(total)

254100000000000000000000000

In [123]:
total = reduce(operator.add, map(lambda t : t['price'], filter(lambda t: t['quantity'], cart)))
print(total)

169000

In [125]:
from functools import reduce
import operator as op

cart = [
    {'product' : "laptop", 'price' : 25000, "quantity" :2},
    {'product' : "tablet", 'price' : 12000, "quantity" :3},
    {'product' : "mobile", 'price' : 22000, "quantity" :4},
    {'product' : "fridge", 'price' : 35000, "quantity" :1},
    {'product' : "TV", 'price' : 55000, "quantity" :3},
    {'product' : "music system", 'price' : 20000, "quantity" :1},
]

total = reduce(op.mul, map(lambda t : t['price'] * t['quantity'], cart))
print(total)

18295200000000000000000000000